NEXT_PUBLIC_APP_NAME=la-bie-belle
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_GOOGLE_WEB_CLIENT_ID=

SUPABASE_PROJECT_ID=
SUPABASE_ACCESS_TOKEN=
SUPABASE_DB_PASSWORD=
SUPABASE_SERVICE_ROLE_KEY=